.table td, .table th {
  text-align: center;
  width: 25%;
}
#banner{
  width: 60%;
  left: 50px;
  right: 0px;
}

#banner img{
  width: 50%;
  left: 0px;
  right: 0px;
}

.card-header{
  background-color: 	#00CED1;
}
